

	.container{
		
		display: flex;
		background-color:red;
	 justify-content: center;
		flex-wrap: wrap;
		 align-items: baseline;
		
	}
	
	div{
		
		background-color:blue;
		margin:10 px;
		padding:20px;
		font-size:30px;
		margin-left:10px;
		margin-right:10px;
		
	}