@charset "UTF-8";

article,aside,header,footer,nav,main,section{
	display:block;
}

html,body,h1,h2,h3,ul,li,a,p,article,aside,footer,header,main,section,nav{
	padding:0;
	margin:0;
	
}

.banner{
	background-color:darkblue;
	color: white;	
	padding: 10px 20px;	
}

body{
	
	width:960px;
	margin-left:5px;
	margin-right:5px;
	background-color:lightgrey;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;	
}

	nav{
		background-color:black;
		padding: 5px;
		margin-top: 2px;
	}
	
	li a{
			color: white;
	}
	
	li{
		display:inline;
		margin-left: 15x;	
		margin-right:15px;
		font-size:20px;
		font-variant:small-caps;
		font-weight:bold;
	}
	
	section
	{
		background-color:grey;
		margin-top:2px;
		padding: 5px;		
	}
	
	article
	{
		background-color: white;
		padding: 10px 15px;
		margin-top: 4px;
		margin-bottom:2px;
			
	}
	
	main{
			width:640px;
			float:left;
			margin-bottom:10px;
	}
	
	aside{
		float:right;
		background-color: grey;
		width:305px;
		height: 434px;
		margin-top:2px;
		border-style:solid;
		border-width: 5px;
	}
	
	.aside1{
		padding: 20px;
	}
	.aside2{
		background-color:white;
	}
	
	footer{
		clear:both;
		background-color:darkblue;
		color:white;
		padding: 5px 18px;
		
	}
	


	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
