@charset "UTF-8";


	table,th,td{
			
			border-collapse:collapse;
			padding:5px;	
			text-align:left;
	}
	
	table
	{
			width:100%
	}
	
	tr:nth-child(even)
	{
		background-color:grey;
	}
	
	caption
	{
		font-size: 30px;
		font-weight: bold;
		font-family: Helvetica, Arial, sans-serif;
	}